#standardSQL

-- Include some utility functions
{% include 'util.sql.j2' %}

WITH

  #
  # Spatial measures data
  #
  source_spatial_measures AS (
    SELECT *
    FROM `{{ spatial_measures_table }}`
  ),

  #
  # Vessel info data
  #
  source_vessel_info AS (
    SELECT *
    FROM `{{ vessel_info_table }}`
  ),

  #
  # Good encounter events
  #
  encounters AS (
  SELECT
    *
  FROM
    `{{ encounters_table }}`
  WHERE
    TIMESTAMP_DIFF(end_time, start_time, SECOND) > (3600 * 2)
    AND median_speed_knots < 2 ),

  #
  # Duplicate encounters so that we have an event for each vessel
  #
  flattened_encounters AS (
  SELECT
    vessel_1_id AS vessel_id,
    vessel_2_id AS encountered_vessel_id,
    CONCAT(encounter_id, ".1" ) AS event_id,
    vessel_1_seg_ids[ORDINAL(1)] AS seg_id,
    vessel_1_point_count AS vessel_point_count,
    vessel_2_point_count AS encountered_point_count,
    * EXCEPT(vessel_1_id,
      vessel_2_id)
  FROM
    encounters
  UNION ALL
  SELECT
    vessel_2_id AS vessel_id,
    vessel_1_id AS encountered_vessel_id,
    CONCAT(encounter_id, ".2" ) AS event_id,
    vessel_2_seg_ids[ORDINAL(1)] AS seg_id,
    vessel_2_point_count AS vessel_point_count,
    vessel_1_point_count AS encountered_point_count,
    * EXCEPT(vessel_1_id,
      vessel_2_id)
  FROM
    encounters ),

  #
  # Include basic vessel information on the event
  #
  complete_encounter_event AS (
    SELECT
      encounter.*,
      main_vessel.shipname.value AS main_vessel_shipname,
      main_vessel.ssvid AS main_vessel_ssvid,
      encountered_vessel.shipname.value AS encountered_vessel_shipname,
      encountered_vessel.ssvid AS encountered_vessel_ssvid
    FROM
      flattened_encounters AS encounter
    LEFT JOIN
      source_vessel_info AS main_vessel
    USING
      (vessel_id)
    LEFT JOIN
      source_vessel_info AS encountered_vessel
    ON
      encountered_vessel_id = encountered_vessel.vessel_id )

  SELECT
    event_id,
    'encounter' AS event_type,
    vessel_id,
    seg_id,
    start_time AS event_start,
    end_time AS event_end,
    mean_latitude AS lat_mean,
    mean_longitude AS lon_mean,
    mean_latitude AS lat_min,
    mean_latitude AS lat_max,
    mean_longitude AS lon_min,
    mean_longitude AS lon_max,
    spatial_measures_mean.regions AS regions_mean_position,
    convert_m_to_km( spatial_measures_mean.distance_from_shore_m ) AS start_distance_from_shore_km,
    convert_m_to_km( spatial_measures_mean.distance_from_shore_m ) AS end_distance_from_shore_km,
    convert_m_to_km( spatial_measures_mean.distance_from_port_m ) AS start_distance_from_port_km,
    convert_m_to_km( spatial_measures_mean.distance_from_port_m ) AS end_distance_from_port_km,
    TO_JSON_STRING(
      STRUCT(
        ROUND(median_distance_km,3) AS median_distance_km,
        ROUND(median_speed_knots,3) AS median_speed_knots,
        encountered_vessel_id
     )
    ) AS event_info,
    TO_JSON_STRING([
      STRUCT(
        vessel_id AS `id`,
        main_vessel_ssvid AS `ssvid`,
        main_vessel_shipname AS `name`,
        vessel_point_count AS point_count
      ),
      STRUCT(
        encountered_vessel_id AS `id`,
        encountered_vessel_ssvid AS `ssvid`,
        encountered_vessel_shipname AS `name`,
        encountered_point_count AS point_count
      )
    ]) as event_vessels
  FROM complete_encounter_event
    JOIN source_spatial_measures AS spatial_measures_mean ON format_gridcode(mean_longitude, mean_latitude) = spatial_measures_mean.gridcode
