-- Get the longitude of the antipode for a given longitude
--
-- This funtion transforms the longitude to the meridian on the opposite side of the world
-- This is useful for doing operations with data that spans the anti-meridian
--
-- Apply the function again to the transformed value to return to the original meridian
--
-- Example
--   anti_lon(0.0) = 0.0
--   anti_lon(90.0) = -90.0
--   anti_lon(-90.0) = 90.0
--   anti_lon(-179.0) = 1.0
--   anti_lon(1.0) = -179.0
--
CREATE TEMPORARY FUNCTION anti_lon ( lon FLOAT64 )
AS (
  IF (lon < 0, 180.0 + lon, (180 - lon) * -1)
);


-- Convert a lat,lon pont in a GEOGRAPHY, such as created with ST_GEOGPOINT(lon, lat)
-- Retrns a STRUCT(lon, lat)
--
-- It seems ridiculous that we have to convert to json and then parse it to do this, but bigquery
-- does not provide any other way to get the lat/lon out of a GEOGRAPHY

CREATE TEMPORARY FUNCTION geopoint_to_struct (pt GEOGRAPHY)
AS (
  STRUCT(
    CAST(JSON_EXTRACT_SCALAR(ST_ASGEOJSON(pt), "$['coordinates'][0]") AS FLOAT64) as lon,
    CAST(JSON_EXTRACT_SCALAR(ST_ASGEOJSON(pt), "$['coordinates'][1]") AS FLOAT64) as lat
  )
);
--
-- Creates a port-id based in the iso3 and the label of the port
--
CREATE TEMPORARY FUNCTION
  generate_port_id (iso3 STRING,
    label STRING) AS ( LOWER(CONCAT(iso3,"-",REGEXP_REPLACE(NORMALIZE(label),' ',''))) );
